a {
    color: black;
}

#sm-search {
    opacity: 0;
}

#search-nav-open {
    visibility: visible;
    transition: .25 ease-in;
}

.navbar {
    width: 100%;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 0px solid;
    box-shadow: 0px 3px 15px #666666;
}

.navbar-brand {
    padding-left: 30px;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 2.3em;
    font-weight: 700;
}

.navbar-nav {
    margin-top: 10px;
}
.nav-item {
    padding-right: 45px;
}

.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.homehead {
    opacity: 1;
    margin-top: 85px;
    background-image: url(https://i.imgur.com/TStNmsX.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    animation-name: goin;
    animation-duration: 2s;
}

.homehead2 {
    opacity: 1;
    margin-top: 85px;
    background-image: url(https://s2.gifyu.com/images/family3.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    animation-name: goin;
    animation-duration: 2s;
}

@keyframes goin {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.search-head {
    padding-top: 120px;
    padding-bottom: 100px;
}

@keyframes intext {
    0% {margin-left: -100px; opacity: 0;}
    50% {margin-left: -100px; opacity: 0;}
    100% {margin-left: 0px; opacity: 1;}
}

.intro {
    font-size: 5.8em;
    font-weight: 0;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #eaf9ff;
    padding-bottom: 60px;
    animation-name: intext;
    animation-duration: 5s;
}

.intro2 {
    font-size: 4.0em;
    font-weight: 0;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #eaf9ff;
    padding-bottom: 0px;
    animation-name: intext;
    animation-duration: 3s;
}

@keyframes dirtext {
    0% {margin-left: -30px; opacity: 0;}
    25% {margin-left: -30px; opacity: 0;}
    50% {margin-left: -30px; opacity: 0;}
    100% {margin-left: 10%; opacity: 1;}
}

.directions {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-left: 10%;
    padding-bottom: 20px;
    animation-name: dirtext;
    animation-duration: 6s;
}
 @keyframes search {
    0% { opacity: 0;}
    25% { opacity: 0;}
    50% { opacity: 0;}
    100% { opacity: 1;}
 }

.main-search {
    width: 80%;
    height: 60px;
    background-color: transparent;
    margin-left: 10%;
    border-radius: 10px;
    border: 2px solid #eee;
    opacity: 1;
    padding-bottom: 10px;
    animation-name: search;
    animation-duration: 8s;
}

.main-search::placeholder {
    padding-left: 45%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

@keyframes zip {
    0% { opacity: 0;}
    25% { opacity: 0;}
    50% { opacity: 0;}
    100% { opacity: 1;}
 }

.main-btn {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-name: zip;
    animation-name: zip;
    animation-duration: 8s;
}

.white {
    color: white;
}

.gold {
    color: #fceb00;
}

.red {
    color: red;
}

.carousel {
    height: 528px;
    width: 1024px;  
    margin-left: auto;
    margin-right: auto;
}



.carousel-caption {
    right: 0;
    bottom: 20px;
    left: 0;
    width: 1024px;
    height: auto;
    color: black;
    background-color:  #ffffff;
    opacity: 0.7;
    font-weight: bold;
    padding-bottom: 2px;
}

.carousel-indicators {
    bottom: -7px;
}

.featurehead {
    font-size: 2.3em;
    width: 1024px;
    background-color: #eaf9ff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.about {
    background-color: #eaf9ff;
    padding: 10px;
    width: 1024px;
    margin-left: 42px;
}

footer {
    padding: 10px 0;
    box-shadow: 0px -3px 15px #666666;
    margin-top: 20px;
}


ul.social-buttons {
    margin-top: 5px;
  }

ul.social-buttons li a {
    font-size: 16px;
    line-height: 30px;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: black;
    border-radius: 100%;
    outline: none;
    background-color: #fff;
  }

  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: transparent;
    color: #fed136;
  }

  .copyright {
      font-weight: bold;
      font-size: 100%;
  }

  .quicklinks {
      font-size: 12px;
  }
  